.App {}

.values {
  margin-bottom: 10px;
}

.operator-btn {
  cursor: pointer;
  padding: 10px;
  background-color: aqua;
  margin-right: 10px;
}

.operator-btn:disabled {
  background-color: green;
}