* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.open-btn {
  margin: 20px 20px;
  padding: 20px;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  margin: 20px;
}
.button-container {
  display: flex;
  justify-content: space-between;
}

input {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.confirm-btn {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  margin-right: 10px;
}
.decline-btn {
  background-color: #d12121;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  margin-left: 10px;
}
.err {
  color: #d12121;
  font-size: 14px;
  white-space: pre-wrap;
}
